.blogDetails{
    /* min-height: 50vh; */
    /* max-height: 1500px; */
}
.blogDetails-bg-color{
    width: 100%;
    height: 300px;
    background-color: blue;
}
.blogDetails-info{
    width: 50%;
    margin: 0 auto;
}
.blogDetails-info{
    position: relative;
    top: -200px;
}
.blogDetails-info img{
    width: 400px;
}